body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:aquamarine;
    margin: 0;
}

.main_container{
    display: flex;
    background-color: azure;
    width: 300px;
    height: 200px;
}