body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:aquamarine;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main_container{
    display: flex;
    background-color: azure;
    width: 300px;
    height: 350px;
    flex-direction: column;
}

.row{
    display: flex;
    border: solid black 1px;
}

.row:first-child{
    height: 50px;
    justify-content: center;
}

.row:nth-child(2){
    justify-content: flex-end; 
    height: 20px;
}

.subrow{
    display: flex;
    height: 280px;
}

.subrow:first-child{
    flex-wrap: wrap;  /*wrapping button up on first sub container to achieve 3 button per row*/
    width: 250px;
}
.subrow:last-child{
    flex-direction: column;
    width: 100px;
}

.subrow button{
    padding: 10px;
}

.subrow:first-child button:first-child{
    flex: 1 1 63.3%;        /*making clear button taking up 2 row*/
}

.subrow:first-child button:nth-child(n+2), .subrow:last-child button{
    flex: 1 1 30%;          /*each button taking up 30% space*/
}







